################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sqlite
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
obj/Debug/
Debug/
Release/
*.opensdf
*.cache
*.tlog
*.log